<div>
    <div>
        <div class="phone_pic">
            <%= image_tag "phone.png" %>
        </div>

        <div>
            <div class="title">
                WHODAT?!
            </div>
            <div class="slogan">
                NEVER FORGET A FACE AGAIN
            </div>
        </div>

        <div class="itunes_icon">
            <a href="http://www.apple.com/itunes/" target="_blank">
                <%= image_tag "itunes.png" %>
            </a>
        </div>

        <div class="plain_text">
            <em>Remember new business contacts, people you meet at an event, or just play for fun!</em>
        </div>

        <div class="reserve">
            Powered by New Coast Ventures
        </div>
    </div>
     <div class="bkgd"></div>
</div>